<%-include('header') -%>

<header>
    <img class="brand-logo" src="/static/assets/the-fizz-smiths-logo.png" width="100px">
    
    <ul class="navbar-nav">
      <input type="text" id="searchInput" placeholder="Search cocktails">
    <button id="searchButton">Search</button>
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
            <li>Category</li>
            <div class="dropdown">
                <button class="dropbtn">&#9660;</button>
                <div class="dropdown-content">
                    <a href="#" onclick="filterByCategory('Cocktail')">Classics</a>
                    <a href="#" onclick="filterOrdinaryCocktails('Ordinary')">Ordinary</a>
                    <a href="#" onclick="filterNonAlcoholicCocktails('Non_Alcoholic')">Non Alcoholic</a>
                    <a href="#" onclick="filterChampangeCocktails('Champagne_flute')">Champange</a>
                    <a href="#" onclick="filterVodkaCocktails('Vodka')">Vodka</a>
                    <a href="#" onclick="filterGinCocktails('Gin')">Gin</a>
                </div>
            </div>
            <li><%= locals.user?user: 'No email found' %></li>
            <div class="dropdown">
                <button class="dropbtn">&#9660;</button>
                <div class="dropdown-content">
                    <a href="/logout" id="logout">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</header>
<main>
    
    <div class="cocktail-grid" id="cocktailList"></div>

    
</main>

<div id="cocktailDetailsContainer">
    <div id="cocktailDetails"></div>
</div>

<footer>
    &copy; 2023 Cocktail Bar. All rights reserved.
</footer>


<%-include('footer') -%>