<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title?title: 'Login Page' -%></title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/assets/style.css">

    <!-- adding favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">

</head>
<body>
    