<%-include('header') -%>
<div class="login-main-container">
    <div class="login-container">
        <div class="login-logo-div">
            <img src="/static/assets/the-fizz-smiths-logo.png" class="login-logo" alt="logo">
        </div>
        <div class="slider">
            <div class="sign-in">
                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button class="button" type="submit">Sign In</button>
                </form>
            </div>  
        </div>
    </div>
</div>

<%-include('footer') -%>